@import "pokemon";
body {
    transform: scale(0.8);
    transform-origin: 0 0;
}

#container {
    background-image: url(img/bg.png);
    width: 100%;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    z-index: 1;
    margin-bottom: 30px;
    margin-top: 50px;
    #tv {
        position: absolute;
        z-index: -1;
        left: 10%; //   margin:120px;
        width: 65%;
        height: 73%;
        opacity: 1; // display: none;
    }
    ;
    #frame {
        position: absolute;
        left: 10%;
        bottom: 14%;
        z-index: -2;
        width: 78%;
        height: 100%; // display: none;
    }
    #img {
        display: flex;
        justify-content: flex-start;
        justify-content: space-between;
        width: 60%;
        height: 70%; // border: 2px solid black;
        #logo {
            width: 20%;
            height: 10%;
            position: absolute;
            left: 30%;
            z-index: -4; // display: none;
        }
        ;
        #pokemon1 {
            @extend %pokemon-box;
            z-index: -5; // display: none;
            #img1 {
                @extend %pokemon-img;
            }
            ;
        }
        ;
        #pokemon2 {
            @extend %pokemon-box; // display: none;
            z-index: -5;
            #img2 {
                @extend %pokemon-img;
            }
            ;
        }
        ;
        #pokemon3 {
            @extend %pokemon-box; // display: none;
            z-index: -5;
            #img3 {
                @extend %pokemon-img;
            }
            ;
        }
        ;
    }
    ;
    #txt {
        text-align: center;
        #txt-pok1 {
            @extend %pokemon-txt; // display: none;
            z-index: -5;
        }
        ;
        #txt-pok2 {
            @extend %pokemon-txt; // display: none;
            z-index: -5;
        }
        ;
        #txt-pok3 {
            @extend %pokemon-txt;
            z-index: -5; // display: none;
        }
        ;
    }
    ;
    #btn {
        width: 18%;
        height: 20%; // border: 3px solid red;
        position: absolute;
        right: 7%;
        bottom: 30%;
        #btn1-6 {
            width: 100%;
            height: 39%;
            border: 3px solid yellowgreen;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #btn-pok1 {
                border: 3px solid white;
                @extend %btn-wh;
                margin-left: 15%; // display: none;  
            }
            ;
            #btn-pok2 {
                border: 3px solid blue;
                @extend %btn-wh; // display: none;  
            }
            ;
            #btn-pok3 {
                border: 3px solid white;
                @extend %btn-wh; // display: none;  
            }
            ;
            #btn1 {
                border: 3px solid white;
                @extend %btn-wh;
                margin-left: 20%; // display: none;
            }
            ;
            #btn2 {
                border: 3px solid blue;
                @extend %btn-wh; // display: none;
            }
            ;
            #btn3 {
                border: 3px solid white;
                @extend %btn-wh; // display: none;
            }
            ;
            #btn4 {
                border: 3px solid yellow;
                @extend %btn-wh;
            }
            ;
            #btn5 {
                border: 3px solid white;
                @extend %btn-wh;
            }
            ;
            #btn6 {
                border: 3px solid blue;
                margin-right: 8%;
                @extend %btn-wh;
            }
            ;
        }
        ;
        #fight {
            opacity: 0;
        }
        ;
        #btn7-8 {
            width: 100%;
            height: 35%;
            border: 3px solid rgb(66, 50, 205);
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 6%;
            #on {
                width: 50px;
                height: 50px;
                border: 3px solid white;
                display: flex;
                align-self: center;
                margin-left: 0px;
            }
            ;
            #btn-c {
                width: 78%;
                height: 100%;
                border: 3px solid yellow;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-left: 10px;
                #btn-c1 {
                    width: 50px;
                    height: 50px;
                    border: 3px solid white;
                    margin-left: 0px;
                }
                ;
                #btn-c2 {
                    width: 50px;
                    height: 50px;
                    border: 3px solid red;
                }
                ;
                #btn-c3 {
                    width: 50px;
                    height: 50px;
                    border: 3px solid white;
                }
                ;
                #btn-c4 {
                    width: 50px;
                    height: 50px;
                    border: 3px solid red;
                }
                ;
            }
            ;
        }
        ;
    }
    ;
}

 

 

.select {
    animation: bounce 1s infinite;
}

    .bounce {
        -webkit-animation-name: bounce 1s infinit;
    }

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}


.none {
    display: none;
}


