#container #img #pokemon1, #container #img #pokemon2, #container #img #pokemon3 {
  background-color: #DCDCDC;
  width: 20%;
  height: 30%;
  position: absolute;
  left: 20%;
  top: 50%;
  z-index: -2;
  border-radius: 50px; }

#container #img #pokemon1 #img1, #container #img #pokemon2 #img2, #container #img #pokemon3 #img3 {
  width: 100%; }

#container #txt #txt-pok1, #container #txt #txt-pok2, #container #txt #txt-pok3 {
  background-color: #DCDCDC;
  width: 20%;
  height: 30%;
  position: absolute;
  left: 42%;
  top: 50%;
  z-index: -2;
  border-radius: 50px;
  font-size: 20px; }

#container #btn #btn1-6 #btn-pok1, #container #btn #btn1-6 #btn-pok2, #container #btn #btn1-6 #btn-pok3, #container #btn #btn1-6 #btn1, #container #btn #btn1-6 #btn2, #container #btn #btn1-6 #btn3, #container #btn #btn1-6 #btn4, #container #btn #btn1-6 #btn5, #container #btn #btn1-6 #btn6 {
  width: 10px;
  height: 30px; }

body {
  transform: scale(0.8);
  transform-origin: 0 0; }

#container {
  background-image: url(img/bg.png);
  width: 100%;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 50px; }
  #container #tv {
    position: absolute;
    z-index: -1;
    left: 14%;
    width: 65%;
    height: 72%;
    opacity: 1; }
  #container #frame {
    position: absolute;
    left: 11%;
    bottom: 12%;
    z-index: -2;
    width: 78%;
    height: 100%; }
  #container #img {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    width: 60%;
    height: 70%; }
    #container #img #logo {
      width: 20%;
      height: 10%;
      position: absolute;
      left: 30%;
      z-index: -4; }
    #container #img #pokemon1 {
      z-index: -5; }
    #container #img #pokemon2 {
      z-index: -5; }
    #container #img #pokemon3 {
      z-index: -5; }
  #container #txt {
    text-align: center; }
    #container #txt #txt-pok1 {
      z-index: -5; }
    #container #txt #txt-pok2 {
      z-index: -5; }
    #container #txt #txt-pok3 {
      z-index: -5; }
  #container #btn {
    width: 18%;
    height: 20%;
    border: 3px solid red;
    position: absolute;
    right: 10%;
    bottom: 29%; }
    #container #btn #btn1-6 {
      width: 100%;
      height: 40%;
      border: 3px solid yellowgreen;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #container #btn #btn1-6 #btn-pok1 {
        border: 3px solid white;
        margin-left: 70px; }
      #container #btn #btn1-6 #btn-pok2 {
        border: 3px solid blue; }
      #container #btn #btn1-6 #btn-pok3 {
        border: 3px solid white; }
      #container #btn #btn1-6 #btn1 {
        border: 3px solid white;
        margin-left: 65px; }
      #container #btn #btn1-6 #btn2 {
        border: 3px solid blue; }
      #container #btn #btn1-6 #btn3 {
        border: 3px solid white; }
      #container #btn #btn1-6 #btn4 {
        border: 3px solid yellow; }
      #container #btn #btn1-6 #btn5 {
        border: 3px solid white; }
      #container #btn #btn1-6 #btn6 {
        border: 3px solid blue;
        margin-right: 65px; }
    #container #btn #fight {
      border: 3px solid red;
      width: 100%; }
    #container #btn #btn7-8 {
      width: 100%;
      height: 40%;
      border: 3px solid #4232cd;
      display: flex;
      align-items: center;
      flex-direction: row; }
      #container #btn #btn7-8 #on {
        width: 45px;
        height: 45px;
        border: 3px solid white;
        display: flex;
        align-self: center;
        margin-left: 10px; }
      #container #btn #btn7-8 #btn-c {
        width: 75%;
        height: 100%;
        border: 3px solid yellow;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        #container #btn #btn7-8 #btn-c #btn-c1 {
          width: 40px;
          height: 40px;
          border: 3px solid white;
          margin-left: 10px; }
        #container #btn #btn7-8 #btn-c #btn-c2 {
          width: 40px;
          height: 40px;
          border: 3px solid red; }
        #container #btn #btn7-8 #btn-c #btn-c3 {
          width: 40px;
          height: 40px;
          border: 3px solid white; }
        #container #btn #btn7-8 #btn-c #btn-c4 {
          width: 40px;
          height: 40px;
          border: 3px solid red; }

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
  body #container {
    width: 100%; } }
/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #container {
    width: 100%; } }
.select {
  animation: bounce 1s infinite; }

@keyframes bounce {
  from,
    20%,
    53%,
    80%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
    43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
.none {
  display: none; }

/*# sourceMappingURL=style.css.map */
